<div id="home" class="container mateo-home">
	<div class="col mateo-intro py-4">
		<span class="mateo-greet">HI!</span>
		<h1>I'm Mateo Naz Jr.</h1>
		<span>1st Year IT Student</span>
		<br>
		<br>
		<p class="mateo-weird-intro"> I am from Santa Rosa, Laguna. I work and study hard to be a professional Web developer someday. started as a beginner .now I have mastered some serious skills. I don't really want to talk about my academy but I have knowledge and I love to share. <i class="fa fa-heart"></i></p>
	</div>
</div>